<div class="jumbotron border border-3 bg-dark bg-gradient text-bg-dark p-3 rounded-5">
    <h1 class="display-4 ">Bem-vindo ao blog do Node</h1>
    <p class="lead"> Notícias e entreterimento!</p>
    <hr class="my-4">
    <p>O melhor Blog do Brasil</p>
    <p class="lead">  
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="/usuarios/registro"><button class="btn btn-primary" type="button">Crie uma conta</button></a>
</div>   
</div>

<h2 class="text-center mt-5 bg-dark text-white p-3 rounded-5">POSTAGENS RECENTES</h2>

{{#each postagens}}
<div class="card border border-3 mt-4 border border-dark">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
     <a href="/Postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small><br>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}    