<h1>{{categria.nome}}</h1>

{{#each postagens}}
<div class="card border border-3 mt-4 border border-dark">
  <div class="card-body ">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
     <a href="/Postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Data de publicação: {{data}}</small>
  </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}    